<%- include('partials/header') -%>
<body>
  <h1>Tareas</h1>
  <div class="container">
    <section><%- include('carousel') -%></section>

    <section>
      <% tasks.forEach((task)=> { %>
      <table class="table-danger">
        <thead>
          <tr class="table-danger">
            <th><%= task.titulo %></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-danger">
            <td class="table-danger"><%= task.descripcion %></td>
            <td class="table-danger">
              <button
                onclick="eliminarTarea('<%= task._id %>')"
                class="eliminar"
                value="<%= task._id %>"
                type="button"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <% }); %>
    </section>
  </div>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/landingPage.js"></script>
</body>
<%- include('partials/footer') -%>
